In [52]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#hiding warning messages
import warnings
warnings.filterwarnings("ignore")

#Reading in My version of cleaned data
shreya_csv = pd.read_csv('Final_Merged_Cleaned_CSV_7-1')

#reading in Dr. Kim's cleaned data
drkim_csv = pd.read_csv('AID_combined_prop.tab', sep = '\t')
drkim_csv = pd.DataFrame(drkim_csv)

print(shreya_csv.shape)
print(drkim_csv.shape)

(7100, 4)
(5577, 10)

In [60]:
#combining CID's and activity outcomes into one df

shreyadf = shreya_csv[['PUBCHEM_CID', 'Activity Summary']]
shreyadf = shreyadf.rename(columns = {'PUBCHEM_CID' : 'shreya cid', 'Activity Summary' : 'shreya activity'})

drkimdf = drkim_csv[['CID', 'Activity']]
drkimdf = drkimdf.rename(columns = {'CID' : 'dr kim cid', 'Activity' : 'dr kim activity'})

bothdf = pd.concat([shreyadf, drkimdf], axis = 1)

In [59]:
#Sorting CID's in ascending order
bothdf = bothdf.sort_values(by = ['shreya cid', 'dr kim cid'], ascending = True, inplace = False)
bothdf

      shreya cid    shreya activity  dr kim cid dr kim activity
1051           4           inactive      6503.0        Inactive
1052          11           inactive      6504.0        Inactive
1053          13           inactive      6506.0        Inactive
1054          33           inactive      6510.0        Inactive
1055          34           inactive      6514.0        Inactive
1056          51           inactive      6525.0        Inactive
1057          66           inactive      6528.0        Inactive
1058          72           inactive      6532.0        Inactive
1059          79           inactive      6533.0        Inactive
1060          85           inactive      6534.0        Inactive
1061         107           inactive      6535.0        Inactive
1062         119           inactive      6537.0        Inactive
1063         135           inactive      6540.0        Inactive
1064         137           inactive      6544.0        Inactive
1065         174           inactive      6545.0        Inactive
1066         176           inactive      6548.0        Inactive
1067         178           inactive      6549.0        Inactive
1068         179           inactive      6554.0        Inactive
1069         180           inactive      6559.0        Inactive
833          187           inactive      5536.0        Inactive
1070         190           inactive      6560.0        Inactive
1071         196           inactive      6561.0        Inactive
1072         204           inactive      6563.0        Inactive
1073         227           inactive      6564.0        Inactive
176          237     active agonist      2092.0        Inactive
1074         240           inactive      6565.0        Inactive
1075         241           inactive      6567.0        Inactive
1076         243           inactive      6568.0        Inactive
1077         244           inactive      6569.0        Inactive
1078         247           inactive      6571.0        Inactive
...          ...                ...         ...             ...
6621   135403635           inactive         NaN             NaN
6622   135403648           inactive         NaN             NaN
821    135403821           inactive      5501.0        Inactive
6623   135408753           inactive         NaN             NaN
6624   135408763           inactive         NaN             NaN
6625   135408793           inactive         NaN             NaN
6626   135409453           inactive         NaN             NaN
6627   135410875           inactive         NaN             NaN
6628   135410906           inactive         NaN             NaN
822    135413497           inactive      5503.0        Inactive
6629   135413535           inactive         NaN             NaN
7098   135418174  active antagonist         NaN             NaN
7099   135418296  active antagonist         NaN             NaN
6630   135424354           inactive         NaN             NaN
6631   135430996           inactive         NaN             NaN
6632   135436526           inactive         NaN             NaN
6633   135444498           inactive         NaN             NaN
6634   135449328           inactive         NaN             NaN
6635   135459645           inactive         NaN             NaN
823    135464373           inactive      5504.0        Inactive
6636   135465077           inactive         NaN             NaN
6637   135474890           inactive         NaN             NaN
6638   135495951           inactive         NaN             NaN
6639   135503327           inactive         NaN             NaN
6640   135511839           inactive         NaN             NaN
6641   135512460           inactive         NaN             NaN
6642   135529433           inactive         NaN             NaN
6643   135585373           inactive         NaN             NaN
6644   135659063           inactive         NaN             NaN
6645   135797791           inactive         NaN             NaN

[7100 rows x 4 columns]